[Unit]
Description=MAVProxy service

[Service]
Type=forking
ExecStart=/home/dronolab/dev/photo/start-MAVProxy.sh
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
