[Unit]
Description=Photo metadata
After=multi-user.target

[Service]
Type=simple
User=dronolab
WorkingDirectory=/home/dronolab/photo-obc/
ExecStart=/usr/bin/python -u /home/dronolab/dev/photo/photo.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
